* {
	margin: 0;
	padding: 0;
}
body {
	background: #000;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

.row-center-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 35px;

	.prev-btn {
		display: block;
		color: #fff;
		font-size: 24px;
		letter-spacing: -6px;
		transition: transform .13s;
		&:hover {
			transform: translateX(-3px);
		}
	}

	.logo {
		font-family: 'BebasNeue';
		font-size: 54px;
		color: #61dbfb;
		text-shadow: 2px 1px 3px rgba(255, 255, 255, .3);
		user-select: none;
	}
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 32px;
	margin-top: 50px;
}